<!-- 参照元サイト：https://deshinon.com/2019/03/03/oshare-kopipe-login-css/ -->
<div class="form_section">
  <%= render partial: "shared/authentication_form",
    locals: { form_hash: { url: sign_in_path }, sign_up: false }
  %>
  <footer>
    <h5>アカウントをお持ちではない方：
      <%= link_to '会員登録', sign_up_path, class: 'sign_up_link' %>
    </h5>
  </footer>
</div>
