<div class="copyright py-4 text-center text-white">
  <div class="container">
    <small class="copyright-text">Copyright &copy; AutoOsakaCityOpas 2022<br>All Rights Reserved.</small>
  </div>
</div>
