<div class="header">
	<div class="header-left">
		<div class="menu-icon dw dw-menu"></div>
		<div class="search-toggle-icon icon-copy fa fa-search" data-toggle="header_search"></div>
		<% if search_keyword %>
			<div class="header-search">
				<%= form_with url: automation_settings_path, local: true, method: 'get', html: { style: 'padding: 0px;margin: 0px;' } do |f| %>
					<div class="form-group mb-0">
						<%= f.text_field :search_keyword, class: 'form-control search-input', placeholder: '名称を入力', value: search_keyword %>
						<div class="dropdown">
							<%= button_tag :submit, class: "search-button dropdown-toggle no-arrow", "data-toggle": "tooltip", "data-placement": "right", "title": "検索" do %>
								<i class="icon-copy fa fa-search" aria-hidden="true" style="color: #FFFFFF;"></i>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
