/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#logo {
  width: 230px;
  height: 100px;
}

.flash-message {
  width: 80%;
  text-align: center;
  margin: 0px auto 30px auto;
  ul {
    margin-bottom: 0px;
    list-style: none;
  }
}

.sign_up_link {
  text-decoration: none;
  &:hover {
    color: #212529;
  }
}

.sign_in_link {
  text-decoration: none;
  &:hover {
    color: #212529;
  }
}

#mainNav {
  padding-top: 0px;
  padding-bottom: 0px;
  position: initial;
}

#authenticate-body {
  height: 100%;
}

#authenticate-body .main {
  background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);;
  padding-top: 30px;
  height: 100%;
}

nav#navigation-bar {
  height: 100px;
  padding: 0px 100px;
}

nav ul li.nav-item a.nav-link {
  color: #212b36 !important;
  &:hover {
    color: #5c6ac4 !important;
  }
}

.copyright {
  width: 100%;
  background-color: #000639;
}
