/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ナビゲーションバー */
#mainNav {
  padding-top: 0px;
  padding-bottom: 0px;
  position: initial;
}

#logo {
  width: 230px;
  height: 100px;
}

nav ul li.nav-item a.nav-link {
  color: #212b36 !important;
  &:hover {
    color: #5c6ac4 !important;
  }
}

.navbar-brand {
  padding: 0px !important;
}

/* フッター */
.copyright {
  width: 100%;
  background-color: #000639;
}

.close-messages-button {
  box-shadow: none;
  width: auto;
}

@media screen and (max-width: 480px) {
  nav .container {
    text-align: center;
    width: auto;
  }
  #logo {
    width: 180px;
    height: 100px;
  }

  .copyright {
    padding: 12px 0px !important;
  }

  .copyright-text {
    font-size: 12px;
  }

  div.copyright {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}
