// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "css/life_is_good";

.sign-up-link,
.sign-in-link {
  color: #fff !important;
  background-color: #70b9b0 !important;
  border: 1px solid #70b9b0 !important;
  box-shadow: none !important;
  &:hover {
    background-color: #8bc6bf !important;
    border: 1px solid #8bc6bf !important;
  }
}

.mb-3 small {
  font-size: small;
}

.result-description {
  font-size: 30px;
  padding-top: 20px;
}

@media screen and (max-width: 480px) {
  .hero-container {
    h1 {
      font-size: 20px !important;
    }

    h2 {
      font-size: 14px !important;
    }

    .btn-get-started {
      font-size: 14px !important;
    }
  }

  .section-title {
    h2 {
      font-size: 20px !important;
    }
  }

  .usage-description {
    font-size: 12px !important;
  }

  .result-description {
    font-size: 14px !important;
  }

  .back-to-top {
    width: 30px !important;
    height: 30px !important;
  }

  .sign-up-form,
  .sign-in-form {
    width: 260px;
  }
}

.password-division {
  position: relative;
}

#user_password,
#user_password_confirmation,
#session_password {
  padding-right: 40px;
}

.password-confirm-eye {
  position: absolute;
  top: 8px;
  right: 18px;
}
